.mainContainer {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(156, 229, 199, 1);
  padding: 0px;
}

.hidden {
	height: 0;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.transitionAll {
	transition: all 0.5s ease;
}

.heroSection {
  width: 100%;
  height: 100%;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  transition: all 0.5s ease;
}

.heroSectionMd {
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.heroSectionCollapsed {
  padding-bottom: 16px;
  padding-top: 16px;
}

.heroContent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}

.logoSection {
  transition: all 0.5s ease;
  margin-bottom: 12px;
}

.logoSectionCollapsed {
  height: 0;
  margin: 0;
  overflow: hidden;
}

.logoTitle {
  margin-bottom: 8px;
  font-size: 3rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 900;
  transition: all 0.5s ease;
}

.logoTitleMd {
  font-size: 8rem;
}

.logoTitleLg {
  font-size: 10rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.searchPaper {
  padding: 24px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}

.searchPaperMd {
  padding: 32px;
}

.resultsSection {
  width: 100%;
  background: rgb(72, 73, 85);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.resultsSectionMd {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.resultsContent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.resultsTitle {
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.resultsTitleMd {
  font-size: 2rem;
}

.resultsSubtitle {
  color: #FFFFFF;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 1rem;
  font-family: monospace;
  letter-spacing: 0.05em;
  text-align: center;
}

.resultsSubtitleMd {
  font-size: 1.25rem;
}
